<h1><%= @artwork.title %> is a work by <%= @artwork.artist.name%></h1>

<p>Created in the year: <%= @artwork.date %></p>
<br>
<p><%= @artwork.description %></p>
<br>
<p><img src="<%=@artwork.image %>" style="max-width:360px" ></p>
<br>
<form  action="/admin/artworks/<%= @artwork.id %>" method="post">
  <input type="submit" value="Delete artwork">

</form>
<br>
<br>

<a href="/admin/artworks/<%= @artwork.id %>/edit">Edit</a>
