<h1><%= @artwork.title %> is a work by
  <a
  href="../artists/<%= @artwork.artist.id %>"><%= @artwork.artist.name%>
  </a>
</h1>

<p>Created in the year: <%= @artwork.date %></p>
<br>
<p><%= @artwork.description %></p>
<br>
<p><img src="<%=@artwork.image %>" style="max-width:360px" ></p>
<br>
<form  action="/admin/artworks/<%= @artwork.id %>" method="post">
  <input type="submit" value="Delete artwork">

</form>
<br>
<p>Featured in the exhibition: <a href="../exhibitions/<%=@artwork.exhibition%>"><%= @artwork.exhibitionlist.name%></a></p>

<br>

<a href="/admin/artworks/<%= @artwork.id %>/edit">Edit</a>
